@font-face {
  font-family: Farcry;
  src: url("../fonts/Farcry.ttf"); }
@font-face {
  font-family: TimesNewYorker;
  src: url("../fonts/TimesNewYorker.ttf"); }
@font-face {
  font-family: PlaneCrash;
  src: url("../fonts/PlaneCrash.ttf"); }
@font-face {
  font-family: Farcry;
  src: url("../fonts/Farcry.ttf"); }
@font-face {
  font-family: TimesNewYorker;
  src: url("../fonts/TimesNewYorker.ttf"); }
body #carritoFixed {
  position: fixed;
  bottom: 0px;
  right: 20%;
  left: 20%; }
  body #carritoFixed #cabCarrito {
    padding-left: 10px;
    border-radius: 10px 10px 0px 0px;
    background-image: url("../img/fondos/fondoCarrito.png");
    font-family: Calibri;
    font-weight: bold;
    font-style: italic;
    font-size: 1.5em;
    color: white; }
  body #carritoFixed #carritoTabla {
    padding-top: 0px;
    overflow: hidden;
    background-color: white;
    box-shadow: 5px 5px 10px #000; }
    body #carritoFixed #carritoTabla #encabezadoTabla {
      background-color: darkred;
      overflow: hidden;
      color: white;
      padding-right: 18px; }
      body #carritoFixed #carritoTabla #encabezadoTabla .enTabla {
        float: left;
        text-align: center;
        font-family: Calibri;
        font-weight: bold;
        font-style: italic;
        font-size: 0.75em; }
    body #carritoFixed #carritoTabla #zonaArticulosCarrito {
      font-family: Calibri;
      font-style: italic;
      font-size: 0.8em;
      background-color: black;
      color: white;
      max-height: 150px;
      overflow-y: scroll; }
      body #carritoFixed #carritoTabla #zonaArticulosCarrito .carritoArticulo {
        overflow: hidden;
        min-height: 50px; }
      body #carritoFixed #carritoTabla #zonaArticulosCarrito .carritoArticulo div {
        float: left;
        padding-top: 15px; }
      body #carritoFixed #carritoTabla #zonaArticulosCarrito .carritoArticulo div:first-child {
        padding-top: 0; }
      body #carritoFixed #carritoTabla #zonaArticulosCarrito .imgCarrito {
        height: 50px; }
      body #carritoFixed #carritoTabla #zonaArticulosCarrito .imgBorrar {
        height: 15px; }
      body #carritoFixed #carritoTabla #zonaArticulosCarrito .imgBorrarTodo {
        height: 15px; }
    body #carritoFixed #carritoTabla #totalFacturaCarrito {
      background-color: darkred;
      color: white;
      overflow: hidden;
      padding-right: 18px;
      font-family: Calibri;
      font-weight: bold;
      font-style: italic;
      font-size: 1em; }
      body #carritoFixed #carritoTabla #totalFacturaCarrito #textoTotalFactura {
        float: left;
        width: 70%; }
      body #carritoFixed #carritoTabla #totalFacturaCarrito #importeTotalCarrito {
        width: 10%;
        float: left;
        text-align: center; }
    body #carritoFixed #carritoTabla .enImagen {
      width: 10%;
      text-align: center; }
    body #carritoFixed #carritoTabla .enNombre {
      width: 40%;
      text-align: center; }
    body #carritoFixed #carritoTabla .enPrecio {
      width: 10%;
      text-align: center; }
    body #carritoFixed #carritoTabla .enCantidad {
      width: 10%;
      text-align: center; }
    body #carritoFixed #carritoTabla .enTotal {
      width: 10%;
      text-align: center; }
    body #carritoFixed #carritoTabla .enBorrar {
      width: 10%;
      text-align: center;
      cursor: pointer; }
    body #carritoFixed #carritoTabla .enBorrarTodo {
      width: 10%;
      text-align: center;
      cursor: pointer; }

@media all and (max-width: 768px) {
  body #carritoFixed {
    right: 1%;
    left: 1%; }
    body #carritoFixed #carritoTabla .enImagen {
      display: none; }
    body #carritoFixed #carritoTabla .enPrecio {
      width: 20%; }
    body #carritoFixed #carritoTabla .enTotal {
      width: 20%; }
    body #carritoFixed #carritoTabla .enBorrar {
      width: 5%; }
    body #carritoFixed #carritoTabla .enBorrarTodo {
      width: 5%; }
    body #carritoFixed #carritoTabla #totalFacturaCarrito #importeTotalCarrito {
      width: 20%; } }
body {
  position: absolute;
  width: 100%;
  height: 100%;
  min-height: 800px;
  margin: 0;
  background-image: url("../img/fondos/imgFondo.jpg");
  background-size: 100%;
  font-family: Calibri; }
  body ::-webkit-scrollbar-thumb {
    background-color: #ff8000; }
  body ::-webkit-scrollbar-track {
    background-color: rgba(255, 176, 98, 0.4); }
  body ::-webkit-scrollbar {
    width: 8px;
    height: 8px; }
  body #capaSuperior {
    width: 70%;
    height: 100%;
    margin: 0 auto; }
    body #capaSuperior #header {
      height: 14%; }
      body #capaSuperior #header #limitSup {
        height: 40%; }
      body #capaSuperior #header #cabeceraContenidos {
        height: 60%;
        background-color: rgba(255, 128, 0, 0.8);
        border-radius: 10px 10px 0px 0px;
        box-shadow: 0 -10px 30px rgba(0, 0, 0, 0.4), -10px 0 30px rgba(0, 0, 0, 0.4), 10px 0 30px rgba(0, 0, 0, 0.4); }
        body #capaSuperior #header #cabeceraContenidos #cabeceraLogo {
          width: 25%;
          height: 100%;
          float: left; }
          body #capaSuperior #header #cabeceraContenidos #cabeceraLogo #logoImg {
            margin-left: 30px;
            width: 180px;
            margin-top: -40px;
            cursor: pointer; }
            body #capaSuperior #header #cabeceraContenidos #cabeceraLogo #logoImg:hover {
              transform: scale(1.05);
              transition-duration: .5s; }
        body #capaSuperior #header #cabeceraContenidos #cabeceraCentro {
          width: 55%;
          height: 100%;
          float: left; }
        body #capaSuperior #header #cabeceraContenidos #cabeceraLogin {
          max-width: 135px;
          height: 100%;
          float: right; }
          body #capaSuperior #header #cabeceraContenidos #cabeceraLogin #botoneraLogin {
            width: 100%;
            margin: 1% 10px 0;
            float: right;
            padding-top: 10px; }
            body #capaSuperior #header #cabeceraContenidos #cabeceraLogin #botoneraLogin .boton {
              width: 115px;
              text-align: center;
              font-size: 10px;
              margin: 7px 5px;
              padding: 3px 10px;
              border-radius: 4px;
              border-left: 1px solid #ff8000;
              border-top: 1px solid #ff8000;
              border-right: 1px solid black;
              border-bottom: 1px solid black;
              color: white;
              background-color: transparent;
              box-shadow: 1px 1px 2px transparent;
              float: right;
              margin: auto; }
              body #capaSuperior #header #cabeceraContenidos #cabeceraLogin #botoneraLogin .boton a {
                display: inline;
                text-decoration: none;
                color: white;
                width: 60px; }
              body #capaSuperior #header #cabeceraContenidos #cabeceraLogin #botoneraLogin .boton:hover {
                transition-duration: .4s;
                border-radius: 4px;
                border-left: 1px solid silver;
                border-top: 1px solid silver;
                border-right: 1px solid transparent;
                border-bottom: 1px solid transparent;
                cursor: pointer;
                color: #e6e6e6;
                background-color: rgba(0, 0, 0, 0.05);
                box-shadow: none;
                opacity: .9;
                box-shadow: 0 -1px 12px white, 1px 0 12px white, 0 1px 12px white, -1px 0 12px white; }
@font-face {
  body #capaSuperior #header #cabeceraContenidos #cabeceraLogin {
    font-family: Farcry;
    src: url("../fonts/Farcry.ttf"); } }
@font-face {
  body #capaSuperior #header #cabeceraContenidos #cabeceraLogin {
    font-family: TimesNewYorker;
    src: url("../fonts/TimesNewYorker.ttf"); } }
@font-face {
  body #capaSuperior #header #cabeceraContenidos #cabeceraLogin {
    font-family: PlaneCrash;
    src: url("../fonts/PlaneCrash.ttf"); } }
          body #capaSuperior #header #cabeceraContenidos #cabeceraLogin #bloqueLogin {
            padding: 20px;
            font-size: 12px;
            max-width: 550px; }
            body #capaSuperior #header #cabeceraContenidos #cabeceraLogin #bloqueLogin .tituloFormulario {
              font-size: 15px;
              font-weight: bolder;
              color: white; }
            body #capaSuperior #header #cabeceraContenidos #cabeceraLogin #bloqueLogin .login-bloqueDatos {
              margin-top: 10px; }
            body #capaSuperior #header #cabeceraContenidos #cabeceraLogin #bloqueLogin label {
              color: white;
              min-width: 70px; }
            body #capaSuperior #header #cabeceraContenidos #cabeceraLogin #bloqueLogin .login-input {
              min-width: 190px;
              padding-left: 5px;
              border: none; }
              body #capaSuperior #header #cabeceraContenidos #cabeceraLogin #bloqueLogin .login-input:focus {
                box-shadow: 0 -1px 12px white, 1px 0 12px white, 0 1px 12px white, -1px 0 12px white;
                transition-duration: .3s; }
            body #capaSuperior #header #cabeceraContenidos #cabeceraLogin #bloqueLogin .login-label-radio {
              vertical-align: middle; }
            body #capaSuperior #header #cabeceraContenidos #cabeceraLogin #bloqueLogin .login-label-error {
              color: red; }
            body #capaSuperior #header #cabeceraContenidos #cabeceraLogin #bloqueLogin #login-botonera {
              margin-top: 5px; }
            body #capaSuperior #header #cabeceraContenidos #cabeceraLogin #bloqueLogin #login-botonera #login-boton-entrar {
              width: 115px;
              text-align: center;
              font-size: 12px;
              margin: 7px 5px;
              padding: 3px 10px;
              border-radius: 4px;
              border-left: 1px solid grey;
              border-top: 1px solid grey;
              border-right: 1px solid black;
              border-bottom: 1px solid black;
              color: white;
              background-color: rgba(255, 255, 255, 0.2);
              box-shadow: 1px 1px 2px transparent;
              float: left; }
              body #capaSuperior #header #cabeceraContenidos #cabeceraLogin #bloqueLogin #login-botonera #login-boton-entrar a {
                display: inline;
                text-decoration: none;
                color: white;
                width: 60px; }
              body #capaSuperior #header #cabeceraContenidos #cabeceraLogin #bloqueLogin #login-botonera #login-boton-entrar:hover {
                transition-duration: .4s;
                border-radius: 4px;
                border-left: 1px solid silver;
                border-top: 1px solid silver;
                border-right: 1px solid transparent;
                border-bottom: 1px solid transparent;
                cursor: pointer;
                color: #e6e6e6;
                background-color: rgba(0, 0, 0, 0.05);
                box-shadow: none;
                opacity: .9;
                box-shadow: 0 -1px 12px white, 1px 0 12px white, 0 1px 12px white, -1px 0 12px white; }
          body #capaSuperior #header #cabeceraContenidos #cabeceraLogin #cajaInfoLogin {
            max-width: 95%;
            margin: 10px;
            text-align: right;
            color: white; }
            body #capaSuperior #header #cabeceraContenidos #cabeceraLogin #cajaInfoLogin .btn {
              width: 115px;
              text-align: center;
              font-size: 10px;
              margin: 7px 5px;
              padding: 3px 10px;
              border-radius: 4px;
              border-left: 1px solid #ff8000;
              border-top: 1px solid #ff8000;
              border-right: 1px solid black;
              border-bottom: 1px solid black;
              color: white;
              background-color: transparent;
              box-shadow: 1px 1px 2px transparent;
              background-color: transparent;
              padding: 2px 10px;
              font-size: 12px;
              color: white; }
              body #capaSuperior #header #cabeceraContenidos #cabeceraLogin #cajaInfoLogin .btn a {
                display: inline;
                text-decoration: none;
                color: white;
                width: 60px; }
              body #capaSuperior #header #cabeceraContenidos #cabeceraLogin #cajaInfoLogin .btn:hover {
                transition-duration: .4s;
                border-radius: 4px;
                border-left: 1px solid silver;
                border-top: 1px solid silver;
                border-right: 1px solid transparent;
                border-bottom: 1px solid transparent;
                cursor: pointer;
                color: #e6e6e6;
                background-color: rgba(0, 0, 0, 0.05);
                box-shadow: none;
                opacity: .9;
                box-shadow: 0 -1px 12px white, 1px 0 12px white, 0 1px 12px white, -1px 0 12px white; }
              body #capaSuperior #header #cabeceraContenidos #cabeceraLogin #cajaInfoLogin .btn #caja-texto-login {
                display: inline-block;
                vertical-align: middle;
                margin: 0;
                padding: 0;
                max-width: 60px;
                /*Reglas necesarias para text-overflow*/
                /*El contenedor debe ser de bloque*/
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis; }
            body #capaSuperior #header #cabeceraContenidos #cabeceraLogin #cajaInfoLogin #iconoUsuario {
              width: 15px; }
            body #capaSuperior #header #cabeceraContenidos #cabeceraLogin #cajaInfoLogin ul {
              width: 60px;
              font-size: 12px;
              background-color: rgba(255, 255, 255, 0.9); }
              body #capaSuperior #header #cabeceraContenidos #cabeceraLogin #cajaInfoLogin ul li a {
                text-overflow: ellipsis; }
                body #capaSuperior #header #cabeceraContenidos #cabeceraLogin #cajaInfoLogin ul li a:hover {
                  color: white;
                  background-color: #ffb062;
                  border-radius: 4px;
                  transition-duration: 0.3s;
                  font-weight: bolder;
                  font-style: italic;
                  box-shadow: 0 -1px 8px white, 1px 0 8px white, 0 1px 8px white, -1px 0 8px white; }
            body #capaSuperior #header #cabeceraContenidos #cabeceraLogin #cajaInfoLogin .dropdown-menu {
              left: auto;
              right: 0; }
    body #capaSuperior #menuH {
      height: 3.5%;
      box-shadow: 0 -10px 20px rgba(0, 0, 0, 0.5); }
      body #capaSuperior #menuH #plataformas {
        width: 75%;
        height: 100%;
        float: left; }
        body #capaSuperior #menuH #plataformas .menuH_plataforma {
          width: 15%;
          height: 100%;
          float: left;
          text-align: center;
          padding-top: 7px;
          color: white;
          font-weight: bold;
          font-family: Farcry;
          font-size: 1em; }
          body #capaSuperior #menuH #plataformas .menuH_plataforma img {
            height: 100%; }
          body #capaSuperior #menuH #plataformas .menuH_plataforma:hover {
            transition-duration: .5;
            border-radius: 6px;
            box-shadow: 0 -1px 15px white, 1px 0 15px white, 0 1px 15px white, -1px 0 15px white; }
        body #capaSuperior #menuH #plataformas .menuH_plataforma:hover {
          cursor: pointer;
          background-color: #ffb062;
          transition-duration: 0.5s; }
        body #capaSuperior #menuH #plataformas #icono_menu_desplegable {
          display: none;
          background-color: transparent; }
        body #capaSuperior #menuH #plataformas #menuH_desplegable {
          display: none; }
      body #capaSuperior #menuH #buscar {
        padding: 1px;
        width: 18%;
        height: 100%;
        float: left; }
@font-face {
  body #capaSuperior #menuH #buscar {
    font-family: Farcry;
    src: url("../fonts/Farcry.ttf"); } }
@font-face {
  body #capaSuperior #menuH #buscar {
    font-family: TimesNewYorker;
    src: url("../fonts/TimesNewYorker.ttf"); } }
@font-face {
  body #capaSuperior #menuH #buscar {
    font-family: PlaneCrash;
    src: url("../fonts/PlaneCrash.ttf"); } }
        body #capaSuperior #menuH #buscar .search-form .form-group {
          float: right !important;
          transition: all 0.8s, border-radius 0s;
          width: 32px;
          height: 100%;
          background-color: #fff;
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
          border-radius: 5px;
          border: 1px solid #ccc; }
        body #capaSuperior #menuH #buscar .search-form .form-group input.form-control {
          padding-right: 20px;
          border: 0 none;
          background: transparent;
          box-shadow: none;
          display: block; }
        body #capaSuperior #menuH #buscar .search-form .form-group input.form-control::-webkit-input-placeholder {
          display: none; }
        body #capaSuperior #menuH #buscar .search-form .form-group input.form-control:-moz-placeholder {
          display: none; }
        body #capaSuperior #menuH #buscar .search-form .form-group input.form-control::-moz-placeholder {
          display: none; }
        body #capaSuperior #menuH #buscar .search-form .form-group input.form-control:-ms-input-placeholder {
          display: none; }
        body #capaSuperior #menuH #buscar .search-form .form-group:hover,
        body #capaSuperior #menuH #buscar .search-form .form-group.hover {
          width: 100%;
          height: 100%;
          box-shadow: 0 -3px 8px rgba(186, 241, 255, 0.7), 3px 0 8px rgba(186, 241, 255, 0.7), 0 3px 8px rgba(186, 241, 255, 0.7), -3px 0 8px rgba(186, 241, 255, 0.7);
          transition-duration: .6s; }
        body #capaSuperior #menuH #buscar .search-form .form-group span.form-control-feedback {
          position: absolute;
          top: -1px;
          right: -2px;
          z-index: 2;
          display: block;
          width: 34px;
          height: 100%;
          line-height: 34px;
          text-align: center;
          color: #3596e0;
          left: initial;
          font-size: 14px; }
        body #capaSuperior #menuH #buscar .search-form, body #capaSuperior #menuH #buscar .form-group {
          height: 100%; }
        body #capaSuperior #menuH #buscar .form-control, body #capaSuperior #menuH #buscar .form-control-feedback {
          height: 100%; }
        body #capaSuperior #menuH #buscar .search-form .form-group span.form-control-feedback {
          margin: -3px 0; }
      body #capaSuperior #menuH #carrito {
        padding: 1px;
        text-align: center;
        width: 5%;
        height: 100%;
        float: left; }
        body #capaSuperior #menuH #carrito #botonCarrito {
          height: 100%;
          padding: 3px 8px; }
          body #capaSuperior #menuH #carrito #botonCarrito span {
            width: 95%; }
          body #capaSuperior #menuH #carrito #botonCarrito:hover {
            transition-duration: .6s;
            box-shadow: 0 -3px 8px rgba(186, 241, 255, 0.7), 3px 0 8px rgba(186, 241, 255, 0.7), 0 3px 8px rgba(186, 241, 255, 0.7), -3px 0 8px rgba(186, 241, 255, 0.7); }
    body #capaSuperior #seccionCentral {
      height: 68%;
      margin-top: 1px;
      padding: 5px;
      background-color: rgba(0, 0, 0, 0.75); }
      body #capaSuperior #seccionCentral .menuV {
        height: 100%;
        float: left;
        width: 13%;
        max-width: 170px;
        padding: 5px; }
        body #capaSuperior #seccionCentral .menuV .menuV_seccion, body #capaSuperior #seccionCentral .menuV .menuV_grupo {
          margin: 0px 2px 2px 0px;
          padding-left: 4px;
          font-family: Calibri;
          font-size: 1em;
          font-weight: bold;
          color: white; }
        body #capaSuperior #seccionCentral .menuV .menuV_grupo {
          background-color: rgba(128, 128, 128, 0.55);
          border-radius: 4px;
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
          padding: 5px 0 0 5px;
          margin-bottom: 2px; }
        body #capaSuperior #seccionCentral .menuV .menuV_seccion {
          color: silver;
          background-color: rgba(170, 170, 170, 0.2);
          border-bottom-right-radius: 4px;
          box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
          padding-left: 7px; }
          body #capaSuperior #seccionCentral .menuV .menuV_seccion:hover {
            transition-duration: .3;
            box-shadow: 0 -1px 8px white, 1px 0 8px white, 0 1px 8px white, -1px 0 8px white; }
        body #capaSuperior #seccionCentral .menuV .menuV_seccion:hover {
          color: white;
          cursor: pointer;
          background-color: #ffb062;
          transition-duration: 0.5s; }
      body #capaSuperior #seccionCentral #contenidos {
        height: 100%;
        float: left;
        width: 87%;
        overflow: auto; }
        body #capaSuperior #seccionCentral #contenidos #articulos {
          width: 99%;
          padding: 1%;
          margin: 0 .5%;
          float: left;
          margin-right: 0.5%; }
@font-face {
  body #capaSuperior #seccionCentral #contenidos #articulos {
    font-family: Farcry;
    src: url("../fonts/Farcry.ttf"); } }
@font-face {
  body #capaSuperior #seccionCentral #contenidos #articulos {
    font-family: TimesNewYorker;
    src: url("../fonts/TimesNewYorker.ttf"); } }
@font-face {
  body #capaSuperior #seccionCentral #contenidos #articulos {
    font-family: PlaneCrash;
    src: url("../fonts/PlaneCrash.ttf"); } }
          body #capaSuperior #seccionCentral #contenidos #articulos .articulos_noticia {
            width: 45%;
            margin: 10px 10px 40px; }
            body #capaSuperior #seccionCentral #contenidos #articulos .articulos_noticia img {
              width: 90%; }
          body #capaSuperior #seccionCentral #contenidos #articulos .articulos_contenedorImagen {
            cursor: pointer;
            margin-bottom: 10px;
            box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.8), 2px 0 10px rgba(0, 0, 0, 0.8), 0 2px 10px rgba(0, 0, 0, 0.8), -2px 0 10px rgba(0, 0, 0, 0.8); }
            body #capaSuperior #seccionCentral #contenidos #articulos .articulos_contenedorImagen img {
              width: 100%; }
              body #capaSuperior #seccionCentral #contenidos #articulos .articulos_contenedorImagen img:hover {
                transition-duration: .6s;
                box-shadow: 0 -1px 20px #baf1ff, 1px 0 20px #baf1ff, 0 1px 20px #baf1ff, -1px 0 20px #baf1ff; }
          body #capaSuperior #seccionCentral #contenidos #articulos .articulo_noticia_left {
            float: left;
            clear: left; }
          body #capaSuperior #seccionCentral #contenidos #articulos .articulo_noticia_right {
            float: right;
            clear: right; }
          body #capaSuperior #seccionCentral #contenidos #articulos .articulos_titulo {
            color: #ff8000;
            font-family: TimesNewYorker;
            font-size: 1.2em;
            cursor: pointer; }
            body #capaSuperior #seccionCentral #contenidos #articulos .articulos_titulo:hover {
              color: black;
              transition-duration: 0.6s;
              text-shadow: 0 -1px 8px white, 1px 0 8px white, 0 1px 8px white, -1px 0 8px white; }
          body #capaSuperior #seccionCentral #contenidos #articulos .articulos_cuerpo {
            font-size: 0.75em; }
            body #capaSuperior #seccionCentral #contenidos #articulos .articulos_cuerpo .articulos_autores {
              margin: 3px 0px;
              color: #aaaaaa; }
            body #capaSuperior #seccionCentral #contenidos #articulos .articulos_cuerpo .articulos_texto {
              text-align: justify;
              margin: 0;
              color: silver; }
@font-face {
  body #capaSuperior #seccionCentral #contenidos #articulos {
    font-family: Farcry;
    src: url("../fonts/Farcry.ttf"); } }
@font-face {
  body #capaSuperior #seccionCentral #contenidos #articulos {
    font-family: TimesNewYorker;
    src: url("../fonts/TimesNewYorker.ttf"); } }
@font-face {
  body #capaSuperior #seccionCentral #contenidos #articulos {
    font-family: PlaneCrash;
    src: url("../fonts/PlaneCrash.ttf"); } }
          body #capaSuperior #seccionCentral #contenidos #articulos .fila {
            margin: 0px; }
            body #capaSuperior #seccionCentral #contenidos #articulos .fila .contenedorArticulo .articulo {
              width: 85%;
              margin-top: 10px;
              padding: 10px 25px;
              background-color: rgba(0, 0, 0, 0.4);
              border: transparent;
              box-shadow: 0 -2px 30px rgba(0, 0, 0, 0.6), 2px 0 30px rgba(0, 0, 0, 0.6), 0 2px 30px rgba(0, 0, 0, 0.6), -2px 0 30px rgba(0, 0, 0, 0.6); }
              body #capaSuperior #seccionCentral #contenidos #articulos .fila .contenedorArticulo .articulo:hover {
                box-shadow: 0 -1px 20px #baf1ff, 1px 0 20px #baf1ff, 0 1px 20px #baf1ff, -1px 0 20px #baf1ff;
                transition-duration: .6s; }
            body #capaSuperior #seccionCentral #contenidos #articulos .fila .contenedorArticulo .contenedorImgArticulo {
              text-align: center;
              height: 150px;
              padding-top: 30px;
              margin-bottom: 20px;
              cursor: pointer; }
              body #capaSuperior #seccionCentral #contenidos #articulos .fila .contenedorArticulo .contenedorImgArticulo .producto_img {
                max-height: 100%;
                max-width: 100%; }
            body #capaSuperior #seccionCentral #contenidos #articulos .fila .contenedorArticulo .producto_titulo {
              color: #ff8000;
              font-family: TimesNewYorker;
              font-size: 1.2em;
              cursor: pointer;
              height: 50px; }
              body #capaSuperior #seccionCentral #contenidos #articulos .fila .contenedorArticulo .producto_titulo:hover {
                color: black;
                transition-duration: 0.6s;
                text-shadow: 0 -1px 8px white, 1px 0 8px white, 0 1px 8px white, -1px 0 8px white; }
            body #capaSuperior #seccionCentral #contenidos #articulos .fila .contenedorArticulo .producto_descripcion {
              font-size: 0.75em;
              color: silver;
              padding-bottom: 10px; }
            body #capaSuperior #seccionCentral #contenidos #articulos .fila .contenedorArticulo .contenedorCompra {
              border: 1px solid white;
              border-radius: 6px;
              background-color: rgba(255, 255, 255, 0.8);
              padding: 0;
              box-shadow: 0 1px 2px rgba(0, 0, 0, 0.7) inset, 1px 0 2px rgba(0, 0, 0, 0.7) inset; }
              body #capaSuperior #seccionCentral #contenidos #articulos .fila .contenedorArticulo .contenedorCompra .producto_precio {
                font-family: PlaneCrash;
                font-size: 1.1em;
                color: #ff8000;
                text-align: right;
                padding: 0px;
                padding-top: 5%;
                padding-right: 5px; }
                @media all and (max-width: 768px) {
                  body #capaSuperior #seccionCentral #contenidos #articulos .fila .contenedorArticulo .contenedorCompra .producto_precio {
                    font-size: 1.7em;
                    padding-top: 0px;
                    padding-right: 10px; } }
              body #capaSuperior #seccionCentral #contenidos #articulos .fila .contenedorArticulo .contenedorCompra .producto_boton {
                border-radius: 6px;
                height: 100%;
                padding: 2px;
                text-align: center; }
                body #capaSuperior #seccionCentral #contenidos #articulos .fila .contenedorArticulo .contenedorCompra .producto_boton a {
                  width: 100%;
                  height: 100%; }
                body #capaSuperior #seccionCentral #contenidos #articulos .fila .contenedorArticulo .contenedorCompra .producto_boton:hover {
                  transition-duration: .4s;
                  box-shadow: 0 -3px 8px rgba(255, 255, 255, 0.7), 3px 0 8px rgba(255, 255, 255, 0.7), 0 3px 8px rgba(255, 255, 255, 0.7), -3px 0 8px rgba(255, 255, 255, 0.7); }
@font-face {
  body #capaSuperior #seccionCentral #contenidos #articulos {
    font-family: Farcry;
    src: url("../fonts/Farcry.ttf"); } }
@font-face {
  body #capaSuperior #seccionCentral #contenidos #articulos {
    font-family: TimesNewYorker;
    src: url("../fonts/TimesNewYorker.ttf"); } }
@font-face {
  body #capaSuperior #seccionCentral #contenidos #articulos {
    font-family: PlaneCrash;
    src: url("../fonts/PlaneCrash.ttf"); } }
          body #capaSuperior #seccionCentral #contenidos #articulos #contenedorRanking {
            text-align: center;
            width: 950px;
            margin: 20px auto;
            padding: 20px 40px;
            color: white;
            border-radius: 15px; }
            body #capaSuperior #seccionCentral #contenidos #articulos #contenedorRanking #tituloRanking {
              font-size: 1.1em;
              color: silver; }
            body #capaSuperior #seccionCentral #contenidos #articulos #contenedorRanking #fechaRanking {
              color: grey; }
            body #capaSuperior #seccionCentral #contenidos #articulos #contenedorRanking #contenedorTablaRanking {
              border-radius: 10px;
              padding: 10px;
              /*        box-shadow: 13px 0 20px rgba($resplandorTablaRanking,.2),
                          -13px 0 20px rgba($resplandorTablaRanking,.2),
                          0 13px 20px rgba($resplandorTablaRanking,.2),
                          0 -13px 20px rgba($resplandorTablaRanking,.2);*/
              box-shadow: 0 -13px 20px rgba(186, 241, 255, 0.2), 13px 0 20px rgba(186, 241, 255, 0.2), 0 13px 20px rgba(186, 241, 255, 0.2), -13px 0 20px rgba(186, 241, 255, 0.2); }
              body #capaSuperior #seccionCentral #contenidos #articulos #contenedorRanking #contenedorTablaRanking #tablaRanking #filaRanking-1 td {
                color: #ff8000; }
              body #capaSuperior #seccionCentral #contenidos #articulos #contenedorRanking #contenedorTablaRanking #tablaRanking #filaRanking-1:hover {
                color: white; }
              body #capaSuperior #seccionCentral #contenidos #articulos #contenedorRanking #contenedorTablaRanking #tablaRanking tr #numeroRanking-1 {
                color: #ff8000;
                font-size: 1.2em;
                font-weight: bolder; }
              body #capaSuperior #seccionCentral #contenidos #articulos #contenedorRanking #contenedorTablaRanking #tablaRanking tr .numeroRanking {
                color: #ffb062; }
              body #capaSuperior #seccionCentral #contenidos #articulos #contenedorRanking #contenedorTablaRanking #tablaRanking tr td {
                border-top-color: rgba(186, 241, 255, 0.15);
                vertical-align: middle; }
              body #capaSuperior #seccionCentral #contenidos #articulos #contenedorRanking #contenedorTablaRanking #tablaRanking tr:hover {
                background-color: rgba(186, 241, 255, 0.4);
                transition-duration: 0.5s; }
              body #capaSuperior #seccionCentral #contenidos #articulos #contenedorRanking #contenedorTablaRanking #tablaRanking .row {
                cursor: pointer; }
              body #capaSuperior #seccionCentral #contenidos #articulos #contenedorRanking #contenedorTablaRanking #tablaRanking .encabezadoRanking {
                border-bottom: 2px solid rgba(0, 0, 0, 0.65);
                cursor: default;
                background-color: rgba(186, 241, 255, 0.6); }
                body #capaSuperior #seccionCentral #contenidos #articulos #contenedorRanking #contenedorTablaRanking #tablaRanking .encabezadoRanking:hover {
                  background-color: rgba(186, 241, 255, 0.6); }
                body #capaSuperior #seccionCentral #contenidos #articulos #contenedorRanking #contenedorTablaRanking #tablaRanking .encabezadoRanking th {
                  text-align: center;
                  color: black;
                  font-weight: bold; }
              body #capaSuperior #seccionCentral #contenidos #articulos #contenedorRanking #contenedorTablaRanking #tablaRanking .imgRanking {
                max-width: 80px; }
@font-face {
  body #capaSuperior #seccionCentral #contenidos #articulos {
    font-family: Farcry;
    src: url("../fonts/Farcry.ttf"); } }
@font-face {
  body #capaSuperior #seccionCentral #contenidos #articulos {
    font-family: TimesNewYorker;
    src: url("../fonts/TimesNewYorker.ttf"); } }
@font-face {
  body #capaSuperior #seccionCentral #contenidos #articulos {
    font-family: PlaneCrash;
    src: url("../fonts/PlaneCrash.ttf"); } }
          body #capaSuperior #seccionCentral #contenidos #articulos #bloqueLogin {
            padding: 20px;
            font-size: 12px;
            max-width: 550px; }
            body #capaSuperior #seccionCentral #contenidos #articulos #bloqueLogin .tituloFormulario {
              font-size: 15px;
              font-weight: bolder;
              color: white; }
            body #capaSuperior #seccionCentral #contenidos #articulos #bloqueLogin .login-bloqueDatos {
              margin-top: 10px; }
            body #capaSuperior #seccionCentral #contenidos #articulos #bloqueLogin label {
              color: white;
              min-width: 70px; }
            body #capaSuperior #seccionCentral #contenidos #articulos #bloqueLogin .login-input {
              min-width: 190px;
              padding-left: 5px;
              border: none; }
              body #capaSuperior #seccionCentral #contenidos #articulos #bloqueLogin .login-input:focus {
                box-shadow: 0 -1px 12px white, 1px 0 12px white, 0 1px 12px white, -1px 0 12px white;
                transition-duration: .3s; }
            body #capaSuperior #seccionCentral #contenidos #articulos #bloqueLogin .login-label-radio {
              vertical-align: middle; }
            body #capaSuperior #seccionCentral #contenidos #articulos #bloqueLogin .login-label-error {
              color: red; }
            body #capaSuperior #seccionCentral #contenidos #articulos #bloqueLogin #login-botonera {
              margin-top: 5px; }
            body #capaSuperior #seccionCentral #contenidos #articulos #bloqueLogin #login-botonera #login-boton-entrar {
              width: 115px;
              text-align: center;
              font-size: 12px;
              margin: 7px 5px;
              padding: 3px 10px;
              border-radius: 4px;
              border-left: 1px solid grey;
              border-top: 1px solid grey;
              border-right: 1px solid black;
              border-bottom: 1px solid black;
              color: white;
              background-color: rgba(255, 255, 255, 0.2);
              box-shadow: 1px 1px 2px transparent;
              float: left; }
              body #capaSuperior #seccionCentral #contenidos #articulos #bloqueLogin #login-botonera #login-boton-entrar a {
                display: inline;
                text-decoration: none;
                color: white;
                width: 60px; }
              body #capaSuperior #seccionCentral #contenidos #articulos #bloqueLogin #login-botonera #login-boton-entrar:hover {
                transition-duration: .4s;
                border-radius: 4px;
                border-left: 1px solid silver;
                border-top: 1px solid silver;
                border-right: 1px solid transparent;
                border-bottom: 1px solid transparent;
                cursor: pointer;
                color: #e6e6e6;
                background-color: rgba(0, 0, 0, 0.05);
                box-shadow: none;
                opacity: .9;
                box-shadow: 0 -1px 12px white, 1px 0 12px white, 0 1px 12px white, -1px 0 12px white; }
          body #capaSuperior #seccionCentral #contenidos #articulos #cajaInfoLogin {
            max-width: 95%;
            margin: 10px;
            text-align: right;
            color: white; }
            body #capaSuperior #seccionCentral #contenidos #articulos #cajaInfoLogin .btn {
              width: 115px;
              text-align: center;
              font-size: 10px;
              margin: 7px 5px;
              padding: 3px 10px;
              border-radius: 4px;
              border-left: 1px solid #ff8000;
              border-top: 1px solid #ff8000;
              border-right: 1px solid black;
              border-bottom: 1px solid black;
              color: white;
              background-color: transparent;
              box-shadow: 1px 1px 2px transparent;
              background-color: transparent;
              padding: 2px 10px;
              font-size: 12px;
              color: white; }
              body #capaSuperior #seccionCentral #contenidos #articulos #cajaInfoLogin .btn a {
                display: inline;
                text-decoration: none;
                color: white;
                width: 60px; }
              body #capaSuperior #seccionCentral #contenidos #articulos #cajaInfoLogin .btn:hover {
                transition-duration: .4s;
                border-radius: 4px;
                border-left: 1px solid silver;
                border-top: 1px solid silver;
                border-right: 1px solid transparent;
                border-bottom: 1px solid transparent;
                cursor: pointer;
                color: #e6e6e6;
                background-color: rgba(0, 0, 0, 0.05);
                box-shadow: none;
                opacity: .9;
                box-shadow: 0 -1px 12px white, 1px 0 12px white, 0 1px 12px white, -1px 0 12px white; }
              body #capaSuperior #seccionCentral #contenidos #articulos #cajaInfoLogin .btn #caja-texto-login {
                display: inline-block;
                vertical-align: middle;
                margin: 0;
                padding: 0;
                max-width: 60px;
                /*Reglas necesarias para text-overflow*/
                /*El contenedor debe ser de bloque*/
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis; }
            body #capaSuperior #seccionCentral #contenidos #articulos #cajaInfoLogin #iconoUsuario {
              width: 15px; }
            body #capaSuperior #seccionCentral #contenidos #articulos #cajaInfoLogin ul {
              width: 60px;
              font-size: 12px;
              background-color: rgba(255, 255, 255, 0.9); }
              body #capaSuperior #seccionCentral #contenidos #articulos #cajaInfoLogin ul li a {
                text-overflow: ellipsis; }
                body #capaSuperior #seccionCentral #contenidos #articulos #cajaInfoLogin ul li a:hover {
                  color: white;
                  background-color: #ffb062;
                  border-radius: 4px;
                  transition-duration: 0.3s;
                  font-weight: bolder;
                  font-style: italic;
                  box-shadow: 0 -1px 8px white, 1px 0 8px white, 0 1px 8px white, -1px 0 8px white; }
            body #capaSuperior #seccionCentral #contenidos #articulos #cajaInfoLogin .dropdown-menu {
              left: auto;
              right: 0; }
@font-face {
  body #capaSuperior #seccionCentral #contenidos #articulos {
    font-family: Farcry;
    src: url("../fonts/Farcry.ttf"); } }
@font-face {
  body #capaSuperior #seccionCentral #contenidos #articulos {
    font-family: TimesNewYorker;
    src: url("../fonts/TimesNewYorker.ttf"); } }
@font-face {
  body #capaSuperior #seccionCentral #contenidos #articulos {
    font-family: PlaneCrash;
    src: url("../fonts/PlaneCrash.ttf"); } }
          body #capaSuperior #seccionCentral #contenidos #articulos #bloqueRegistro {
            padding: 20px;
            font-size: 12px;
            max-width: 550px; }
            body #capaSuperior #seccionCentral #contenidos #articulos #bloqueRegistro .tituloFormulario {
              font-size: 15px;
              font-weight: bolder;
              color: white; }
            body #capaSuperior #seccionCentral #contenidos #articulos #bloqueRegistro label {
              color: white;
              min-width: 110px; }
            body #capaSuperior #seccionCentral #contenidos #articulos #bloqueRegistro .registro-label-check {
              vertical-align: middle; }
            body #capaSuperior #seccionCentral #contenidos #articulos #bloqueRegistro .registro-input, body #capaSuperior #seccionCentral #contenidos #articulos #bloqueRegistro .registro-select {
              min-width: 190px;
              padding-left: 5px;
              border: none; }
              body #capaSuperior #seccionCentral #contenidos #articulos #bloqueRegistro .registro-input:focus, body #capaSuperior #seccionCentral #contenidos #articulos #bloqueRegistro .registro-select:focus {
                box-shadow: 0 -1px 12px white, 1px 0 12px white, 0 1px 12px white, -1px 0 12px white;
                transition-duration: .3s; }
            body #capaSuperior #seccionCentral #contenidos #articulos #bloqueRegistro .registro-label-error {
              color: red;
              font-size: 11px; }
            body #capaSuperior #seccionCentral #contenidos #articulos #bloqueRegistro .registro-bloqueDatos {
              margin-top: 10px; }
              body #capaSuperior #seccionCentral #contenidos #articulos #bloqueRegistro .registro-bloqueDatos > span {
                vertical-align: middle; }
            body #capaSuperior #seccionCentral #contenidos #articulos #bloqueRegistro #registro-botonera {
              margin-top: 5px; }
            body #capaSuperior #seccionCentral #contenidos #articulos #bloqueRegistro #registro-botonera #registro-boton-enviar {
              width: 115px;
              text-align: center;
              font-size: 12px;
              margin: 7px 5px;
              padding: 3px 10px;
              border-radius: 4px;
              border-left: 1px solid grey;
              border-top: 1px solid grey;
              border-right: 1px solid black;
              border-bottom: 1px solid black;
              color: white;
              background-color: rgba(255, 255, 255, 0.2);
              box-shadow: 1px 1px 2px transparent;
              float: left; }
              body #capaSuperior #seccionCentral #contenidos #articulos #bloqueRegistro #registro-botonera #registro-boton-enviar a {
                display: inline;
                text-decoration: none;
                color: white;
                width: 60px; }
              body #capaSuperior #seccionCentral #contenidos #articulos #bloqueRegistro #registro-botonera #registro-boton-enviar:hover {
                transition-duration: .4s;
                border-radius: 4px;
                border-left: 1px solid silver;
                border-top: 1px solid silver;
                border-right: 1px solid transparent;
                border-bottom: 1px solid transparent;
                cursor: pointer;
                color: #e6e6e6;
                background-color: rgba(0, 0, 0, 0.05);
                box-shadow: none;
                opacity: .9;
                box-shadow: 0 -1px 12px white, 1px 0 12px white, 0 1px 12px white, -1px 0 12px white; }
    body #capaSuperior #pie {
      height: 12%;
      margin-top: 5px; }
      body #capaSuperior #pie #pieContenidos {
        height: 90%;
        background-color: rgba(170, 170, 170, 0.8);
        border-radius: 0px 0px 10px 10px; }
        body #capaSuperior #pie #pieContenidos #enlaces {
          width: 80%;
          height: 70%;
          float: left; }
        body #capaSuperior #pie #pieContenidos #otros {
          padding-top: 5px;
          width: 20%;
          height: 70%;
          float: left; }
          body #capaSuperior #pie #pieContenidos #otros #redesSociales {
            height: 50%;
            text-align: center; }
            body #capaSuperior #pie #pieContenidos #otros #redesSociales img {
              margin: 1px;
              border-radius: 3px;
              box-shadow: 1px 1px 3px grey;
              height: 90%;
              margin-top: 2%;
              cursor: pointer; }
          body #capaSuperior #pie #pieContenidos #otros #otraInfo {
            margin-top: 5px;
            height: 50%;
            text-align: center; }
            body #capaSuperior #pie #pieContenidos #otros #otraInfo img {
              margin: 1px;
              height: 90%;
              margin-top: 2%; }
        body #capaSuperior #pie #pieContenidos #infoContacto {
          height: 30%;
          clear: both;
          font-size: 0.73em;
          text-align: center; }
        body #capaSuperior #pie #pieContenidos #infoContactoReducido {
          display: none; }
      body #capaSuperior #pie #limitInf {
        height: 20%; }
  body #capaFondo {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
    body #capaFondo #franjaSuperior {
      width: 100%;
      height: 14%;
      background-color: rgba(0, 0, 0, 0.6); }
    body #capaFondo #franjaBajoMenuH {
      width: 100%;
      height: 3.5%;
      background-color: rgba(0, 0, 0, 0.85);
      box-shadow: 0 -10px 20px rgba(0, 0, 0, 0.4); }

@font-face {
  font-family: Farcry;
  src: url("../fonts/Farcry.ttf"); }
@font-face {
  font-family: TimesNewYorker;
  src: url("../fonts/TimesNewYorker.ttf"); }
@font-face {
  font-family: PlaneCrash;
  src: url("../fonts/PlaneCrash.ttf"); }
@media all and (max-width: 992px) {
  body {
    min-height: 768px;
    mix-height: 768px; }
    body #capaSuperior {
      width: 80%; }
      body #capaSuperior #header {
        height: 115.2px; }
        body #capaSuperior #header #cabeceraContenidos #cabeceraLogo #logoImg {
          margin-left: 3%; }
        body #capaSuperior #header #cabeceraContenidos #cabeceraCentro {
          width: 50%; }
        body #capaSuperior #header #cabeceraContenidos #cabeceraLogin {
          width: 25%; }
          body #capaSuperior #header #cabeceraContenidos #cabeceraLogin #botoneraLogin {
            width: 70%;
            float: right; }
            body #capaSuperior #header #cabeceraContenidos #cabeceraLogin #botoneraLogin .boton {
              width: 115px;
              float: right; }
      body #capaSuperior #menuH {
        min-height: 30.72px; }
        body #capaSuperior #menuH #plataformas {
          width: 75%; }
          body #capaSuperior #menuH #plataformas .menuH_plataforma {
            font-size: 0.9em; }
          body #capaSuperior #menuH #plataformas #icono_menu_desplegable {
            display: inline-block; }
        body #capaSuperior #menuH #buscar {
          width: 18%;
          height: 100%; }
        body #capaSuperior #menuH #carrito {
          width: 5%; }
      body #capaSuperior .menu_desplegable {
        background-color: rgba(170, 170, 170, 0.85); }
        body #capaSuperior .menu_desplegable .menu_desplegable_seccion {
          background-color: rgba(170, 170, 170, 0.75);
          color: white;
          font-family: calibri; }
        body #capaSuperior .menu_desplegable .menu_desplegable_seccion:hover {
          background-color: #ffb062;
          transition-duration: 0.5s; }
      body #capaSuperior #seccionCentral {
        height: 529.92px; }
        body #capaSuperior #seccionCentral #contenidos {
          width: 100%; }
          body #capaSuperior #seccionCentral #contenidos #articulos .articulos_noticia {
            width: 95%;
            float: left; }
        body #capaSuperior #seccionCentral #menuV {
          display: none; }
      body #capaSuperior #pie {
        height: 92.16px; }
    body #capaFondo #franjaSuperior {
      height: 115.2px; }
    body #capaFondo #franjaBajoMenuH {
      min-height: 30.72px; } }
@font-face {
  font-family: Farcry;
  src: url("../fonts/Farcry.ttf"); }
@font-face {
  font-family: TimesNewYorker;
  src: url("../fonts/TimesNewYorker.ttf"); }
@font-face {
  font-family: PlaneCrash;
  src: url("../fonts/PlaneCrash.ttf"); }
@media all and (max-width: 768px) {
  body {
    min-height: 800px;
    min-height: 800px;
    min-width: 320px; }
    body #capaSuperior {
      width: 100%; }
      body #capaSuperior #header {
        height: 112.0px; }
        body #capaSuperior #header #limitSup {
          height: 40%; }
        body #capaSuperior #header #cabeceraContenidos {
          height: 60%; }
          body #capaSuperior #header #cabeceraContenidos #cabeceraLogo {
            width: 55%; }
            body #capaSuperior #header #cabeceraContenidos #cabeceraLogo #logoImg {
              margin-left: 3%; }
          body #capaSuperior #header #cabeceraContenidos #cabeceraCentro {
            display: none; }
          body #capaSuperior #header #cabeceraContenidos #cabeceraLogin {
            width: 45%; }
            body #capaSuperior #header #cabeceraContenidos #cabeceraLogin #botoneraLogin {
              width: 60%;
              float: right;
              margin-right: 15px; }
              body #capaSuperior #header #cabeceraContenidos #cabeceraLogin #botoneraLogin .boton {
                width: 105px; }
      body #capaSuperior #menuH {
        min-height: 28.0px; }
        body #capaSuperior #menuH #plataformas {
          width: 87%; }
          body #capaSuperior #menuH #plataformas .menuH_plataforma {
            display: none; }
          body #capaSuperior #menuH #plataformas #menuH_desplegable {
            display: inline-block;
            width: 75%;
            padding: 10px 4px;
            font-size: 1em; }
            body #capaSuperior #menuH #plataformas #menuH_desplegable #opciones_menu_desplegable2 {
              left: 26%; }
          body #capaSuperior #menuH #plataformas span {
            padding: 0px 4px; }
          body #capaSuperior #menuH #plataformas span:hover {
            cursor: pointer;
            background-color: #ffb062;
            transition-duration: 0.5s; }
      body #capaSuperior .menu_desplegable .menu_desplegable_seccion {
        font-size: 1.5em; }
      body #capaSuperior #buscar {
        display: none; }
      body #capaSuperior #carrito {
        width: 10%; }
        body #capaSuperior #carrito #botonCarrito {
          width: 36px; }
      body #capaSuperior #seccionCentral {
        max-height: 544px; }
        body #capaSuperior #seccionCentral #tablaRanking {
          border: none; }
      body #capaSuperior #pie {
        height: 96px; }
        body #capaSuperior #pie #pieContenidos {
          height: 80%; }
          body #capaSuperior #pie #pieContenidos #infoContacto {
            display: none; }
          body #capaSuperior #pie #pieContenidos #infoContactoReducido {
            display: block;
            height: 30%;
            clear: both;
            font-size: 0.8em;
            text-align: center; }
        body #capaSuperior #pie #limitInf {
          height: 20%; }
    body #capaFondo #franjaSuperior {
      height: 112.0px; }
    body #capaFondo #franjaBajoMenuH {
      min-height: 28.0px; } }

/*# sourceMappingURL=style.css.map */
