
@import "commonStyle.scss";

body{
    width: $anchoPagina;
    height: $altoPagina;

    margin: 0;

    background-color: $colorFondo;

    font:{
        family: "Century Gothic" !important;
        size: $sizeFuenteBase;
    }
    
    @include reglasBarrasScroll();

    #capaSuperior{/* Capa que engloba todos los contenidos de la web; se situa por encima de la capa de fondo */
        width: $anchoContenidos;
        height: $altoPagina;
        margin: 0 auto;

        .botonBackEnd{
            @include estiloBotonBackEnd();
        }

        #header{
            height: $altoHeader;

            #cabecera-Logo{/* Seccion contenedora del logo de la empresa */
                width: 200px;
                height: $altoHeader;
                float: left;

                #logo{
                    margin: 10px;
                    width: 180px;
                    background-repeat: no-repeat;

                    &:hover{
                        cursor: $cursorActivo;
                    }
                }
            }

            #cabecera-Centro{/* Seccion que podria tener algun contenido en algun momento futuro */
                width: 630px;
                @include reglasComunesHeader();
            }

            #cabecera-Login{/* Seccion contenedora del formulario de login de la pagina */
                margin: 15px 10px;
                width: 150px;
                height: 110px;
                display: inline-block;
                text-align: center;
                background-color: rgba($colorFondoLogin,.2);
                border-radius: 7px;

                .tituloLogin{
                    margin-top: 12px;
                    font-size: 11px;
                    color: white;
                }
                #cerrarSesion{
                    cursor: pointer;
                    margin: 10px 5px 0;
                }

                #seccionUsuario, #seccionPassword{
                    margin: 5px 7px;
                    height: 35px;
                    font-size: 11px;
                    color: white;

                    #campoUsuario, #campoPassword{
                        height: 12px;
                    }
                }

                .botonHeader{/*Botones de logueo y acceso a clientes y empleados*/
                    @include estiloBotonHeader();
                }

                #botonClientes, #botonEmpleados{
                    margin-top: 15px;
                }
            }
        }


        #menuPrincipal{/* Menu horizontal superior que contiene los enlaces a las secciones principales de la web y el formulario de busqueda */
            height: $altoMenuHorizontal;

            #seccionesPrincipales{/* Contenedor de enlaces a secciones principales de la pagina */
                width: 600px;
                @include reglasComunesMenuH();
                margin-left: 150px;

                .bloqueEnlaceMenuH{/* Cada uno de los bloques contenedores de cada enlace */
                    @include reglasComunesMenuH();

                    &:hover{
                        border:{
                            top-right-radius: 6px;
                            top-left-radius: 6px;
                        }
                        background-color: white;
                        color: black;
                        font-style: italic;
                        cursor: $cursorActivo;
                        transition-duration: .3s;
                    }
                }

                #bloqueIconoHome{
                    height: $altoMenuHorizontal;
                    display: inline-block;
                    text-align: center;
                    margin: auto 20px;

                    & #iconoHome{
                        @include sizeIcono(20px);

                        &:hover{
                            cursor: $cursorActivo;
                            transform: scale(1.2);
                            transition-duration: .3s;
                        }
                    }

                }

            }

            #bloqueBuscar{/* Formulario de busqueda */
                width: 200px;
                @include reglasComunesMenuH();
                float: right;//Debe ir detrás de reglasComunesMenuH() --> contradice el float: left; del mixin

                #campoBuscar{
                    margin-top: 4px;
                    float: right;
                    background-color: $colorCampoBuscar;//$colorCampoBuscar sólo aparece aquí, pero por comodidad creamos una variable al principio del documento
                }
                #botonBuscar{
                    margin: 7px;
                    float: right;
                    height: 15px;

                    &:hover{
                        cursor: $cursorActivo;
                    }
                }

            }
        }


        #seccionCentral{/* Seccion central de contenidos propiamente dicha (body) */
            height: $altoZonaCentro;

            #menuVertical{
                width: 15%;
                font-size: 12px;

                @include reglasComunesZonaCentro();

                .listaMenu{/* Cada una de las listas que se corresponden con las secciones principales de la pagina */
                    margin: 15px 0;
                    width: 145px;

                    #tituloMenuEmpleados{
                        cursor: pointer;
                    }

                    .celdaTituloMenuV{/* Titulo de cada una de las listas */
                        padding: 4px 0 4px 7px;
                        color: grey;
                        font-weight: bold;
                        background-color: rgba($colorFondoTituloMenuV,.2);
                        box-shadow: 2px 1px #adadad;
                        border-radius: 4px;

                        & a{
                            @include estiloEnlace(block,inherit);
                        }
                        &:hover{
                            cursor: $cursorActivo;
                            font:{
                                size: 1.03em;
                                style: italic;
                            }
                            color: black;
                            transition-duration: .2s;
                        }
                    }

                    .itemMenuV{/* Cada una de las opciones de lista del menu */
                        padding: 4px 12px;
                        box-shadow: 1px 1px #bbb;
                        border-radius: 4px;
                        color: black;

                        & a{
                            @include estiloEnlace(block,inherit);
                        }

                        &:hover{
                            background-color: $colorCorporativo;
                            color: white;
                            font-style: italic;

                            cursor: $cursorActivo;
                            transform: scale(1.03);
                            transition-duration: .3s;
                        }
                    }

                }

            }

            #contenidos{/* Seccion dende se displayan los contenidos propiamente dichos. Tambien incluye un panel de informacion adicional */
                /*width: 850px;*/
                width: 85%;
                @include reglasComunesZonaCentro();

                #imgPortadaEmpleado{
                    z-index: -1;
                    position: absolute;
                    margin: 10px 0 0 10px;
                    background-repeat: no-repeat;
                    background-size: contain;
                    border-bottom-right-radius: 60px;
                    border-top-left-radius: 60px;
                    box-shadow: 15px 15px 15px silver;
                }
                #textoPortada{
                    text-align: right;
                    font-size: 20px;
                    color: white;
                    padding-top: 30px;
                    padding-right: 30px;

                    & a{
                        font-family: inherit;
                        text-decoration-line: underline;
                        color: white;
                        font: 25px bold;
                        &:hover{
                            color: $colorCorporativo;
                            transition-duration: .5s;
                        }
                    }
                }

                #cajaLogin{/* Caja contenedora del formulario de logueo*/
                    margin: 150px 0 0 200px;
                    padding: 25px;
                    width: 250px;
                    color: white;
                    background-color: $colorCorporativo;
                    border-radius: 15px;
                    box-shadow: 5px 5px 5px silver;

                    .labelLogin, .campoLogin{
                        display: inline-block;
                        width: 35%;
                        margin-top: 5px;
                    }
                    .campoLogin{
                        width: 60%;

                        &:focus{
                            background-color: cornsilk;
                        }
                    }

                    #botonLoguear{
                        @include estiloBotonBackEnd();
                        @include botonOut(lightgrey,rgba(rgb(0,0,0),.6),white,$colorCorporativo,rgba(rgb(0,0,0),.6));
                        &:hover{
                            @include botonIn(black,lightgrey,rgb(230,230,230),$colorCorporativo);
                        }
                        float: none;
                        margin-top: 15px;
                    }
                }

                #tablaListado{/* Tabla de listado consulta findAll */
                    margin-left: 40px;

                    #tituloTabla{
                        margin: 80px 30px 15px;
                        font:{
                            weight: bold;
                            size: 18px;
                        }
                    }

                    @include reglasColumnasTabla();//Mixin para las anchuras de columna segun clases de datos

                    .bloqueDatos{
                        float: left;
                        &:hover{
                            cursor: $cursorActivo;
                            background-color: $colorFilaHover;
                        }
                    }

                    .celdaCabecera{
                        @include formatoCeldasTabla(1px 10px);
                        box-shadow: 0 2px 2px grey;
                        background-color: $colorCorporativo;
                        font-size: 13px;
                        color: white;
                    }
                    .celdaContenido{
                        @include formatoCeldasTabla(1px 10px);
                        border-bottom: 1px solid silver;
                        font-size: 12px;
                    }
                    .celdaIconoTabla{
                        @include formatoCeldasTabla(2px 2px);
                        width: 20px;

                        .iconoTabla{
                            @include sizeIcono(15px);

                            &:hover{
                                cursor: $cursorActivo;
                                transform: scale(1.2);
                                transition-duration: .3s;
                            }
                        }
                    }
                }

                #contenedorDetail{
                    width: 550px;
                    margin: 100px auto;

                    #tituloDetail{
                        padding: 3px 10px 1px;
                        margin-bottom: 10px; 
                        box-shadow: 0 2px 2px grey;
                        background-color: $colorCorporativo;
                        color: white;
                    }
                    .labelDetail{
                        @include formatoCeldasTabla(1px 10px);
                        width: 170px;
                        margin-bottom: 3px;
                        color: grey;
                        border:{
                            bottom: 1px solid rgba($colorCorporativo,.6);
                            radius: 5px;
                        }
                    }
                    .inputDetail{
                        width: 345px;
                        padding-left: 5px;
                        background-color: $colorCampoBuscar;
                        border:{
                            color: $colorCorporativo;
                            style: none;
                            radius: 3px;
                            top-style: groove;
                            left-style: groove;
                        }

                        display: inline-block;

                        &:focus{
                            background-color: cornsilk;
                        }
                    }
                }

                .botoneraMain{
                    margin: 5% auto;

                    .filaIconosBackEnd{
                        width: 100%;
                        text-align: center;

                        .cajaIconoBackEnd{
                            @include estiloIconoBackEnd($colorCorporativo);
                        }
                    }

                }


                #contenidoPrincipal{/* Contenido propiamente dicho */
                    width: 680px;
                    @include reglasComunesZonaCentro();

                    .articulo{/* Información del contenedor principal de la página Home */
                        display: inline-block;
                        vertical-align: top;
                        width: 310px;
                        margin-left: 15px;
                        font-size: 13px;
                        text-align: left;

                        .imgContenidos{
                            width: 95%;
                            max-width: 310px;
                            height: auto;
                            margin-top: 20px;
                            background-repeat: no-repeat;
                        }

                        p{
                            margin: 0 0 5px 0;
                            padding: 0;
                        }
                    }

                }

                #panelInfo{/* Panel reservado para informacion adicional o publicidad */
                    width: 170px;
                    @include reglasComunesZonaCentro();
                    background-color: rgba($colorTransparencia,.05);
                    p{
                        padding: 15px;
                        color: $colorGrisBase;
                    }
                }
            }
        }


        #footer{
            height: $altoFooter;
            background-color: $colorGrisBase;

            #footerContenidos{
                /* Seccion contenedora de los enlaces del footer a informacion de la pagina y a otras paginas (redes sociales, etc.) */
                height: $altoFooter*0.85;

                #footerEnlaces{/* Sección contenedora de los enlaces internos a otras secciones */
                    font-size: 11px;
                    width: 600px;
                    @include reglasComunesFooter();

                    #listaFooterIzquierda, #listaFooterDerecha{
                        display: inline-block;
                        margin: 15px 60px;
                        text-align: left;

                        .footerTituloMenu{
                            color: white;
                            font-weight: bold;
                            margin-bottom: 2px;
                        }
                        .footerItemMenu{
                            color: rgb(240,240,240);
                            text-decoration: none;

                            &:hover{
                                color: #ffc29a;
                            }
                        }

                    }
                }
                #redesSociales{/* Iconos de enlace a redes sociales y otras paginas externas */
                    width: 400px;
                    @include reglasComunesFooter();

                    .iconoRedSocial{
                        width: 28px;
                        margin: 12px 7px;
                        float: right;
                        box-shadow: 3px 3px 2px grey;

                        &:hover{
                            transform: scale(1.1);
                            transition-duration: .3s;
                            cursor: $cursorActivo;
                        }
                    }

                    #iconoFacebook{
                        margin-right: 60px;
                    }
                }
                #infoContacto{/* Banda inferior al footer con la informacion basica de contacto de la empresa */
                    text-align: center;
                    height: $altoFooter*0.15;
                    color: white;
                    font-size: 10px;

                    a{
                        color: inherit;
                    }
                }
            }
        }
    }

    #capaFondo{/* Esta capa es para independizar el disenio del fondo de los contenidos propiamente dichos */
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
        width: $anchoPagina;
        height: $altoPagina;

        #fondoBandaSup{
            @include reglasCapaFondo($altoHeader, $colorCorporativo);
        }
        #fondoBandaBajoMenuH{
            @include reglasCapaFondo($altoMenuHorizontal, $colorCorporativo);
        }
        #fondoCentro{
            @include reglasCapaFondo($altoZonaCentro, transparent);
        }
        #fondoBandaInf{
            @include reglasCapaFondo($altoFooter, transparent);
        }
    }

}
