<section id="contenedorDetail">

    <div id="tituloDetail">Detalle Empleado</div>

    <section id="contenedorFormularioDetail">
        <div class="labelDetail">Id Empleado</div>
        <input class="inputDetail" type="text" ng-style="estiloBloqueado" ng-model="empleadoEdit.idEmpleado" ng-disabled="true"/>
        <div class="labelDetail">DNI</div>
        <input class="inputDetail" type="text" ng-style="estilo" ng-model="empleadoEdit.dniEmpleado" ng-disabled="estado.accion === 'borrar'"/>
        <div class="labelDetail">Nombre</div>
        <input class="inputDetail" type="text" ng-style="estilo" ng-model="empleadoEdit.nombreEmpleado" ng-disabled="estado.accion === 'borrar'"/>
        <div class="labelDetail">Apellido1</div>
        <input class="inputDetail" type="text" ng-style="estilo" ng-model="empleadoEdit.apellido1Empleado" ng-disabled="estado.accion === 'borrar'"/>
        <div class="labelDetail">Apellido2</div>
        <input class="inputDetail" type="text" ng-style="estilo" ng-model="empleadoEdit.apellido2Empleado" ng-disabled="estado.accion === 'borrar'"/>
        <div class="labelDetail">Id Sucursal</div>
        <input class="inputDetail" type="text" ng-style="estilo" ng-model="empleadoEdit.idSucursalBancaria" ng-disabled="estado.accion === 'borrar'"/>
        <div class="labelDetail">Login</div>
        <input class="inputDetail" type="text" ng-style="estilo" ng-model="empleadoEdit.loginEmpleado" ng-disabled="estado.accion === 'borrar'"/>
        <div class="labelDetail">Password</div>
        <input class="inputDetail" type="text" ng-style="estilo" ng-model="empleadoEdit.passwordEmpleado" ng-disabled="estado.accion === 'borrar'"/>
    
    
    </section>

    <span id="botonInsertDetail" class="botonBackEnd" ng-click="insert()" ng-show="estado.accion === 'insertar'">Insertar Empleado</span>
    <span id="botonUpdateDetail" class="botonBackEnd" ng-click="update()" ng-show="estado.accion === 'actualizar'">Guardar Empleado</span>
    <span id="botonDeleteDetail" class="botonBackEnd" ng-click="deleteData()" ng-show="estado.accion === 'borrar'">Eliminar Empleado</span>
    
    <span id="botonVolverLista" class="botonBackEnd"><a href="#/empleado/list">Ir a listado</a></span>
    <span id="botonVolverOpcionesEmpleado" class="botonBackEnd"><a href="#/main">Ir a Empleado</a></span>
</section>