<section id="contenedorDetail">

    <div id="tituloDetail">Detalle Cliente</div>

    <form id="contenedorFormularioDetail" name="formularioCliente">
        <div class="labelDetail">DNI</div>
        <input class="inputDetail" name="campoDniCliente" type="text" 
               ng-style="estilo" 
               ng-model="cliente.dniCliente" 
               ng-disabled="estado.accion === 'borrar'"
               ng-pattern="/(\d{8})([a-zA-Z]{1})/"
               placeholder="DNI: formato correcto '00000000L'"
               required/>

        <div class="labelDetail">Nombre</div>
        <input class="inputDetail" name="campoNombreCliente" type="text" 
               ng-style="estilo" 
               ng-model="cliente.nombreCliente" 
               ng-disabled="estado.accion === 'borrar'"
               required/>

        <div class="labelDetail">Apellido 1º</div>
        <input class="inputDetail" name="campoApellido1Cliente" type="text" 
               ng-style="estilo" 
               ng-model="cliente.apellido1Cliente" 
               ng-disabled="estado.accion === 'borrar'"
               required/>

        <div class="labelDetail">Apellido 2º</div>
        <input class="inputDetail" name="campoApellido2Cliente" type="text" 
               ng-style="estilo" 
               ng-model="cliente.apellido2Cliente" 
               ng-disabled="estado.accion === 'borrar'"
               required/>
    </form>

    <span id="botonInsertDetail" class="botonBackEnd" ng-click="insert()" ng-show="estado.accion === 'insertar'">Insertar cliente</span>
    <span id="botonUpdateDetail" class="botonBackEnd" ng-click="update()" ng-show="estado.accion === 'actualizar'">Guardar cambios</span>
    <span id="botonDeleteDetail" class="botonBackEnd" ng-click="deleteData()" ng-show="estado.accion === 'borrar'">Eliminar cliente</span>

    <span id="botonVolverLista" class="botonBackEnd"><a href="#/cliente/list">Ir a listado</a></span>
    <span id="botonVolverOpcionesEmpleado" class="botonBackEnd"><a href="#/main">Ir a Empleado</a></span>

    <br/><br/>

    <div id="validacion-caja-mensajes-cliente" class="validacion-caja-mensajes" ng-show="mostrarValidaciones && formularioCliente.$invalid">
        <p id="validacion-caja-titulo-cliente" class="validacion-caja-titulo">
            ERRORES DE VALIDACIÓN EN CLIENTE:
        </p>

        <p id="validacion-mensaje-error-dniCliente" class="validacion-mensaje-error"
           ng-show="formularioCliente.campoDniCliente.$error.pattern">
            * Error DNI: valor incorrecto
        </p>
        <p id="validacion-mensaje-required-dniCliente" class="validacion-mensaje-required"
           ng-show="formularioCliente.campoDniCliente.$error.required">
            * Error DNI: campo requerido
        </p>

        <p id="validacion-mensaje-required-nombreCliente" class="validacion-mensaje-required"
           ng-show="formularioCliente.campoNombreCliente.$error.required">
            * Error nombre: campo requerido
        </p>

        <p id="validacion-mensaje-required-apellido1Cliente" class="validacion-mensaje-required"
           ng-show="formularioCliente.campoApellido1Cliente.$error.required">
            * Error apellido 1: campo requerido
        </p>

        <p id="validacion-mensaje-required-apellido2Cliente" class="validacion-mensaje-required"
           ng-show="formularioCliente.campoApellido2Cliente.$error.required">
            * Error apellido 2: campo requerido
        </p>
    </div>

    <div id="validacion-servidor-caja-mensajes-cliente" class="validacion-caja-mensajes" ng-show="mostrarValidacionesServidor">
        <p id="validacion-servidor-caja-titulo-cliente" class="validacion-caja-titulo">
            ERRORES DE VALIDACIÓN EN SERVIDOR:
        </p>
        <section class="validacion-servidor-lista-errores" ng-repeat="bussinessMessage in bussinessMessageList">
            <p class="validacion-servidor-item-error">{{bussinessMessage.fieldName}}: {{bussinessMessage.message}}</p>
        </section>
    </div>

</section>

<!-- Tabla detalle Cuenta -->
<section id="tablaListado" ng-show="cuentasBancarias.length !== 0" ng-hide="estado.accion === 'insertar'">

    <p id="tituloTabla">Listado Cuentas Bancarias</p><br/>
    <section id="filaCabecera">
        <div class="celdaCabecera columnaNumCuenta">Número cuenta</div>
        <div class="celdaCabecera columnaNombre-Entidad-Sucursal">Entidad</div>
        <div class="celdaCabecera columnaNombre-Entidad-Sucursal">Sucursal</div>
        <div class="celdaCabecera columnaCantidad">Saldo</div>
    </section>

    <section class="filaContenido" ng-repeat="cuentaBancaria in cuentasBancarias">

        <div class="bloqueDatos">
            <div class="celdaContenido columnaNumCuenta">{{cuentaBancaria.numeroCuentaBancaria}}</div>
            <div class="celdaContenido columnaNombre-Entidad-Sucursal">{{cuentaBancaria.sucursalBancaria.entidadBancaria.nombreEntidadBancaria}}</div>
            <div class="celdaContenido columnaNombre-Entidad-Sucursal">{{cuentaBancaria.sucursalBancaria.nombreSucursalBancaria}}</div>
            <div class="celdaContenido columnaCantidad">{{cuentaBancaria.saldoCuentaBancaria}}</div>
        </div>

        <div class="celdaIconoTabla">
            <a href="#/cuentabancaria/update/{{cuentaBancaria.idCuentaBancaria}}">
                <img class="iconoTabla" src="../style/img/icon/editar.png" alt="IconoEditar"/>
            </a>
        </div>
        <div class="celdaIconoTabla">
            <a href="#/cuentabancaria/delete/{{cuentaBancaria.idCuentaBancaria}}">
                <img class="iconoTabla" src="../style/img/icon/papelera.png" alt="IconoBorrar"/>
            </a>
        </div>

    </section>

    <section class="botoneraList">
        <span id="botonNew" class="botonBackEnd"><a href="#/cuentabancaria/new/idCliente/{{cliente.idCliente}}">Nueva cuenta</a></span>
    </section>

</section>
