<section id="contenedorDetail">

    <div id="tituloDetail">Detalle Cuenta Bancaria</div>

    <section id="contenedorFormularioDetail">
        <div class="labelDetail">Id Cuenta</div>
        <input class="inputDetail" type="text" ng-style="estiloBloqueado" ng-model="cuentaBancaria.idCuentaBancaria" ng-disabled="true"/>
        <div class="labelDetail">Número</div>
        <input class="inputDetail" type="text" ng-style="estilo" ng-model="cuentaBancaria.numeroCuentaBancaria" ng-disabled="estado.accion === 'borrar'"/>
        <div class="labelDetail">Id Entidad Bancaria</div>
        <input class="inputDetail" type="text" ng-style="estilo" ng-model="cuentaBancaria.idEntidadBancaria" ng-disabled="estado.accion === 'borrar'"/>
        <div class="labelDetail">Id Cliente</div>
        <input class="inputDetail" type="text" ng-style="estilo" ng-model="cuentaBancaria.idCliente" ng-disabled="estado.accion === 'borrar'"/>
    </section>

    <span id="botonInsertDetail" class="botonBackEnd" ng-click="insert()" ng-show="estado.accion === 'insertar'">Insertar cuenta</span>
    <span id="botonUpdateDetail" class="botonBackEnd" ng-click="update()" ng-show="estado.accion === 'actualizar'">Guardar cambios</span>
    <span id="botonDeleteDetail" class="botonBackEnd" ng-click="deleteData()" ng-show="estado.accion === 'borrar'">Eliminar cuenta</span>
    
    <span id="botonVolverLista" class="botonBackEnd"><a href="#/cuentabancaria/list">Ir a listado</a></span>
    <span id="botonVolverOpcionesEmpleado" class="botonBackEnd"><a href="#/main">Ir a Empleado</a></span>
</section>
