
@import 'common.scss';


#contenedorRanking{
    text-align: center;
    width: 950px;
    margin: 20px auto;
    padding: 20px 40px;
    //background-color: rgba(0,0,0,.8);
    color: white;
    border-radius: 15px;
    //box-shadow: 10px 10px 8px rgba(0,0,0,.5);

    #tituloRanking{
        font-size: 1.1em;
        color: silver;
    }
    #fechaRanking{
        color: grey;
    }

    #contenedorTablaRanking{
        border-radius: 10px;
        padding: 10px;
        /*        box-shadow: 13px 0 20px rgba($resplandorTablaRanking,.2),
                    -13px 0 20px rgba($resplandorTablaRanking,.2),
                    0 13px 20px rgba($resplandorTablaRanking,.2),
                    0 -13px 20px rgba($resplandorTablaRanking,.2);*/
        @include sombraPerimetral(13px,20px,rgba($resplandorTablaRanking,.2),none);

        #tablaRanking{
            #filaRanking-1{
                & td{
                    color: $colorNaranjaBase;
                }
                &:hover{
                    color: white;
                }
            }
            tr{
                #numeroRanking-1{
                    color: $colorNaranjaBase;
                    font-size: 1.2em;
                    font-weight: bolder;
                }
                .numeroRanking{
                    color: $colorNaranjaSuave;
                }
                & td{
                    border-top-color: rgba($resplandorTablaRanking,.15);
                    vertical-align: middle;
                }
                &:hover{
                    background-color: rgba($resplandorTablaRanking,.4);
                    transition-duration: 0.5s;
                }
            }

            .row{
                cursor: pointer;
            }
            .encabezadoRanking{
                border-bottom: 2px solid rgba(0,0,0,.65);
                cursor: default;
                background-color: rgba($resplandorTablaRanking,.6);

                &:hover{
                    background-color: rgba($resplandorTablaRanking,.6);
                }

                & th{
                    text-align: center;
                    color: black;
                    font-weight: bold;
                }
            }
            .imgRanking{
                max-width: 80px;
            }
        }
    }

}






