@mixin estiloEnlace($color){
    text-decoration: none;
    color: $color;
}
@mixin reglasComunesHeader(){
    height: $altoHeader;
    float: left;
}
@mixin reglasComunesMenuH(){
    height: $altoMenuHorizontal;
    float: left;
    color: white;
    text-align: center;
    p{
        margin: 3px 15px;
    }
}
@mixin reglasComunesZonaCentro(){
    height: $altoZonaCentro;
    float: left;
}
@mixin reglasComunesFooter(){
    height: $altoFooter*0.85;
    float: left;
}
@mixin reglasCapaFondo($height, $background-color){
    height: $height;
    background-color: $background-color;
}
@mixin formatoCeldasTabla($padding){
    padding: $padding;
    display: inline-block;
}
@mixin sizeIcono($sizeIcono){
    width: $sizeIcono;
    height: $sizeIcono;
}

//Efectos para botones activos
@mixin botonOut($color-left-top,$color-right-bottom,$color,$background-color,$colorSombra){
    border:{
        radius: 4px;

        left: 1px solid $color-left-top;
        top: 1px solid $color-left-top;
        right: 1px solid $color-right-bottom;
        bottom: 1px solid $color-right-bottom;
    }
    color: $color;
    background-color: $background-color;
    box-shadow: 1px 1px 2px $colorSombra;
}
@mixin botonIn($color-left-top,$color-right-bottom,$color,$background-color){
    border:{
        radius: 4px;

        left: 1px solid $color-left-top;
        top: 1px solid $color-left-top;
        right: 1px solid $color-right-bottom;
        bottom: 1px solid $color-right-bottom;
    }
    cursor: $cursorActivo;
    color: $color;
    background-color: $background-color;
    box-shadow: none;
    opacity: .9;
}
@mixin estiloBotonHeader(){
    & a{
        @include estiloEnlace(white);
    }

    text-align: center;
    font-size: 10px;
    margin: 4px 15px;
    padding: 2px 10px;

    @include botonOut(lightgrey,$colorCorporativo,white,transparent,transparent);

    &:hover{
        @include botonIn($colorCorporativo,lightgrey,rgb(230,230,230),rgba($colorGrisBase,.05));
    }
}
@mixin estiloBotonBackEnd(){
    & a{
        @include estiloEnlace(white);
    }

    display: inline-block;
    float: left;
    font-size: 13px;
    text-align: center;
    margin: 15px 10px;
    padding: 2px 10px;

    @include botonOut(lightgrey,grey,white,$colorCorporativo,grey);
    &:hover{
        @include botonIn(black,lightgrey,rgb(230,230,230),$colorCorporativo);
    }
}
@mixin estiloPanelBackEnd($background-color){
    width: 25%;
    height: auto;
    display: inline-block;
    margin: 15px 0 15px 15px;
    border-radius: 15px;
    background-color: $background-color;
    &:hover{
        box-shadow: 5px 5px 4px grey;
        transform: translate(-3px,-3px);
        transition-duration: .4s;
        background-color: rgba($background-color,.8);
        cursor: pointer;
    }
    & img{
        width: 100%;
        height: 100%;
    }
}
