@import "commonStyle.scss";

.validacion-caja-mensajes{
    /*display: none;//NO ES NECESARIO, SE CONTROLA CON ng-style*/
    border: 1px dashed rgba($colorCorporativo,.3);
    background-color: lightyellow;
    margin: 15px;
    padding: 0 10px;
    color: red;
    font-size: 12px;
    
    & .validacion-caja-titulo{
        font-weight: bold;
    }
    
    & .validacion-mensaje-required{
        color: navy;
    }
    
}

