<section id="cajaLogin" ng-hide="empleado!==null">
    <p>Acceso para empleados</p>
    <section id="seccionUsuario">
        <label for="campoUsuario" class="labelLogin">Usuario:</label>
        <input type="text" id="campoUsuario" class="campoLogin" ng-model="credencial.login" name="campoUsuario" autofocus="autofocus" placeholder="Introduce tu DNI" size="13"/>
    </section>
    
    <section id="seccionPassword">
        <label for="campoPassword" class="labelLogin">Password:</label>
        <input type="password" id="campoPassword" class="campoLogin" ng-model="credencial.password" name="campoPassword" size="13"/>
    </section>
    
    <div id="botonLoguear" class="iconoBackEnd" ng-click="logIn()">Acceder</div>
</section>