@font-face {
  font-family: Farcry;
  src: url("../fonts/Farcry.ttf"); }
@font-face {
  font-family: TimesNewYorker;
  src: url("../fonts/TimesNewYorker.ttf"); }
@font-face {
  font-family: PlaneCrash;
  src: url("../fonts/PlaneCrash.ttf"); }
@media all and (max-width: 992px) {
  body {
    min-height: 750px; }
    body #capaSuperior {
      width: 100%; }
      body #capaSuperior #header {
        height: 112.5px; }
        body #capaSuperior #header #cabeceraContenidos #cabeceraLogo #logoImg {
          margin-left: 3%; }
        body #capaSuperior #header #cabeceraContenidos #cabeceraCentro {
          width: 50%; }
        body #capaSuperior #header #cabeceraContenidos #cabeceraLogin {
          width: 25%; }
          body #capaSuperior #header #cabeceraContenidos #cabeceraLogin #botoneraLogin {
            width: 70%;
            float: right; }
            body #capaSuperior #header #cabeceraContenidos #cabeceraLogin #botoneraLogin .boton {
              width: 115px;
              float: right; }
      body #capaSuperior #menuH {
        min-height: 30px; }
        body #capaSuperior #menuH #plataformas {
          width: 75%; }
          body #capaSuperior #menuH #plataformas .menuH_plataforma {
            font-size: 0.9em; }
          body #capaSuperior #menuH #plataformas #icono_menu_desplegable {
            display: inline-block; }
        body #capaSuperior #menuH #buscar {
          width: 18%;
          height: 100%; }
        body #capaSuperior #menuH #carrito {
          width: 7%; }
      body #capaSuperior .menu_desplegable {
        background-color: rgba(170, 170, 170, 0.85); }
        body #capaSuperior .menu_desplegable .menu_desplegable_seccion {
          background-color: rgba(170, 170, 170, 0.75);
          color: white;
          font-family: calibri; }
        body #capaSuperior .menu_desplegable .menu_desplegable_seccion:hover {
          background-color: #ffb062;
          transition-duration: 0.5s; }
      body #capaSuperior #seccionCentral {
        height: 517.5px; }
        body #capaSuperior #seccionCentral #contenidos {
          width: 100%; }
          body #capaSuperior #seccionCentral #contenidos #articulos .articulos_noticia {
            width: 95%;
            float: left; }
          body #capaSuperior #seccionCentral #contenidos #articulos .caja-paneles {
            /*                        width: 90%;
                                    height: 50%;
                                    text-align: center;
                                    margin: 50px;
                                    padding: 30px 30px 75px;
                                    @include estiloPlataforma();
                                    background: url("../img/fondos/chapa.png");
                                    background-repeat: no-repeat;
                                    background-size: 100% 100%;*/ }
        body #capaSuperior #seccionCentral #menuV {
          display: none; }
      body #capaSuperior #pie {
        height: 90px; }
    body #capaFondo #franjaSuperior {
      height: 112.5px; }
    body #capaFondo #franjaBajoMenuH {
      min-height: 30px; } }

/*# sourceMappingURL=Responsive-sm.css.map */
