@import "common.scss";

@media all and (max-width:768px){

    body{
        min-height: $altoTF;
        min-height: $altoTF;
        min-width: $anchoTF;
        
        #capaSuperior{
            width:100%;

            #header{
                height: $altoTF*0.14;
                #limitSup{
                    height: 40%;
                }
                #cabeceraContenidos{
                    height: 60%;
                    #cabeceraLogo{
                        width: 70%;
                        #logoImg{
                            margin-left: 3%;
                        }
                    }
                    #cabeceraCentro{
                        display: none;
                    }
                    #cabeceraLogin{
                        width: 30%;
                        #botoneraLogin{
                            width: 70%;
                            float: right;
                            margin-right: 15px;
                            .boton{
                                width: 105px;
                            }
                        }
                    }
                }
            }
            #menuH{
                min-height: $altoTF*0.035;

                #plataformas{
                    width:90%;

                    .menuH_plataforma{
                        display:none;
                    }
                    #menuH_desplegable{
                        display:inline-block;
                        width:75%;
                        //background-color:transparent;
                        padding: 10px 4px;
                        font-size:1em;

                        #opciones_menu_desplegable2{
                            left:26%;
                        }

                    }
                    span{
                        padding: 0px 4px;
                    }
                    span:hover{
                        cursor:pointer;
                        background-color:$colorNaranjaSuave;
                        transition-duration: 0.5s;
                    }
                }
            }
            .menu_desplegable{

                .menu_desplegable_seccion{
                    font-size:1.5em;
                }
            }
            #buscar{
                display: none;
            }
            #carrito{
                width: 10%;
            }

            #seccionCentral{
                max-height: $altoTF*0.68;
                
                #tablaRanking{
                    border: none;
                }
            }

            #pie{
                height: $altoTF*0.12;
                
                #pieContenidos{
                    height: 80%;
                    
                    #infoContacto{
                        display:none;
                    }
                    #infoContactoReducido{
                        display:block;
                        height: 30%;
                        clear: both;
                        font-size:0.8em;
                        text-align: center;
                    }
                }
                #limitInf{
                    height: 20%;
                }
            }
        }
        
        #capaFondo{
            #franjaSuperior{
                height: $altoTF*0.14;
            }
            #franjaBajoMenuH{
                min-height: $altoTF*0.035;
            }
        }
        
    }
}
